header{
  clear:both;
  overflow:hidden;
  min-height:180px;
  border-top:10px solid #2f2f2f;
  background-color:#595758;
  .container{
    background-color:#595758;
  }
  .logo{
    float:left;
  }
}
